angular/lab/jade/documentation-project/index.jade
<!DOCTYPE html>
html(lang="pt-BR", ng-app="app")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		title Documentation Project
		link(rel="stylesheet", type="text/css", href="../dist/css/main.css")
		link(rel="stylesheet", type="text/css", href="../components/bootstrap/dist/css/bootstrap.min.css")

		<!--[if lt IE 9]>
		script(type="text/javascript", src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js")
		script(type="text/javascript", src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
		<![endif]-->
	body#documentation(ng-controller="MainCtrl")
		div(ng-include="'views/includes/header.html'")
		.container-fluid
			.row-fluid
				.col-md-3.bind
					.sidebar
						char-sidebar
				.col-md-9
					br
					ui-searchbar(text="What are you looking for?", model-current-scope="searchBase")
					br
					char-content

		script(type="text/javascript", src="../components/jquery/dist/jquery.min.js")
		script(type="text/javascript", src="../components/angular/angular.min.js")
		script(type="text/javascript", src="../components/angular-messages/angular-messages.min.js")
		script(type="text/javascript", src="js/app.js")
		script(type="text/javascript", src="js/controllers/MainCtrl.js")
		script(type="text/javascript", src="js/filters/ellipsisFilter.js")
		script(type="text/javascript", src="js/directives/uiSearchbarDirective.js")
		script(type="text/javascript", src="js/directives/charSidebarDirective.js")
		script(type="text/javascript", src="js/directives/charContentDirective.js")
		script(type="text/javascript", src="js/config/serialGeneratorConfig.js")
		script(type="text/javascript", src="js/services/serialGeneratorService.js")
		script(type="text/javascript", src="js/services/charsAPIService.js")
		script(type="text/javascript", src="js/services/racesAPIService.js")
		script(type="text/javascript", src="js/services/racesTypesAPIService.js")

angular/lab/documentation-project/index.html
<!DOCTYPE html>
<html lang="pt-BR" ng-app="app">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Documentation Project</title>
    <link rel="stylesheet" type="text/css" href="../dist/css/main.css"/>
    <link rel="stylesheet" type="text/css" href="../components/bootstrap/dist/css/bootstrap.min.css"/><!--[if lt IE 9]>
    <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
  </head>
  <body id="documentation" ng-controller="MainCtrl">
    <div ng-include="'views/includes/header.html'"></div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-md-3 bind">
          <div class="sidebar">
            <char-sidebar></char-sidebar>
          </div>
        </div>
        <div class="col-md-9"><br/>
          <ui-searchbar text="What are you looking for?" model-current-scope="searchBase"></ui-searchbar><br/>
          <char-content></char-content>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../components/angular/angular.min.js"></script>
    <script type="text/javascript" src="../components/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
    <script type="text/javascript" src="js/controllers/MainCtrl.js"></script>
    <script type="text/javascript" src="js/filters/ellipsisFilter.js"></script>
    <script type="text/javascript" src="js/directives/uiSearchbarDirective.js"></script>
    <script type="text/javascript" src="js/directives/charSidebarDirective.js"></script>
    <script type="text/javascript" src="js/directives/charContentDirective.js"></script>
    <script type="text/javascript" src="js/config/serialGeneratorConfig.js"></script>
    <script type="text/javascript" src="js/services/serialGeneratorService.js"></script>
    <script type="text/javascript" src="js/services/charsAPIService.js"></script>
    <script type="text/javascript" src="js/services/racesAPIService.js"></script>
    <script type="text/javascript" src="js/services/racesTypesAPIService.js"></script>
  </body>
</html>
